.sp_ojxh7mEv3uR{background-image:url(/rsrc.php/v3/yp/r/vhpdbIKRFXf.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_ojxh7mEv3uR.sx_1d5967{background-position:0 0}.sp_ojxh7mEv3uR.sx_57d648{background-position:0 -25px}

#bootloader_VheLM{height:42px;}.bootloader_VheLM{display:block!important;}