{% extends 'basePadrao.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h3> Cadastro de Usuários </h3></legend>
  <form action="" method="post">

  {{ cadastroform.csrf_token }}
<!-- DADOS PESSOAIS-->
  {% from "_macro.html" import render_field %}
    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls" >
          {{ render_field(cadastroform.nome ,class='form-control', placeholder='Nome *', title="Nome", maxlength="250", minlength="8") }}
          {% if cadastroform.errors.nome %}
          <div class="alert alert-darger" role="alert">
            <ul>
              {% for e in cadastroform.errors.nome %}
                <li><strong>* Campos Obrigatórios !</strong></li>
              {% endfor %}
            </ul>
          </div>
            {% endif %}
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls">
            {{ render_field(cadastroform.cpf, class='form-control',pattern="[0-9]+$",title="000.000.000-00",maxlength="14",
            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}",placeholder="Cpf *", OnKeyPress="formatar('###.###.###-##', this)")}}
            {% if cadastroform.errors.cpf %}
            <div class="alert alert-darger" role="alert">
              <ul>
                {% for e in cadastroform.errors.cpf %}
                <!--  <li><strong>Campo CPF Não pode Ser Vazio !</strong></li> -->
                {% endfor %}
            {% endif %}
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls">
          {{ render_field(cadastroform.email , class='form-control', placeholder="E-mail *",title="E-mail") }}
          {% if cadastroform.errors.email %}
        <p class="help-block text-danger"></p>
        <ul>
          {% for e in cadastroform.errors.email %}
          <!--  <li><strong>Campo E-mail Não pode Ser Vazio !</strong></li>-->
          {% endfor %}
      {% endif %}
  <p class="help-block text-danger"></p>
  </div>
  </div>

    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls">
          {{ render_field(cadastroform.celular , class='form-control', placeholder="Celular *", title="DD9XXXXXXXX", maxlength="11",minlength="11", pattern="[0-9]{2}[0-9]{4,6}[0-9]{3,4}") }}
          {% if cadastroform.errors.celular %}
        <p class="help-block text-danger"></p>
        <ul>
          {% for e in cadastroform.errors.celular %}
            <!--<li><strong>Campo obrigatorio !</strong></li>-->
          {% endfor %}
      {% endif %}
  <p class="help-block text-danger"></p>
  </div>
  </div>
    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls">
          {{ render_field(cadastroform.nomeUsuario , class='form-control',placeholder="Nome de Usuário *", title="Nome de Usuário") }}
          {% if cadastroform.errors.nomeUsuario %}
        <p class="help-block text-danger"></p>
        <ul>
          {% for e in cadastroform.errors.nomeUsuario %}
          <!--  <li><strong>Campo obrigatorio !</strong></li>-->
          {% endfor %}
      {% endif %}
  <p class="help-block text-danger"></p>
  </div>
  </div>

    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls">
        {{ render_field(cadastroform.senha, class='form-control', placeholder="Senha *", title="Senha") }}
        {% if cadastroform.errors.senha %}
        <p class="help-block text-danger"></p>
        <p class="help-block text-danger"></p>
        <ul>
        {% for e in cadastroform.errors.senha %}
          <!--<li><strong>Campo obrigatorio !</strong></li>-->
        {% endfor %}
    {% endif %}
  <p class="help-block text-danger"></p>
  </div>
  </div>
    <div class="row control-group">
      <div class="form-group col-xs-5 floating-label-form-group controls">
        {{ render_field(cadastroform.confirma, class='form-control', placeholder="Repita a senha *", title="Repita a Senha") }}
        {% if cadastroform.errors.confirma %}
          <p class="help-block text-danger"></p>
          <ul>
          {% for e in cadastroform.errors.confirm %}
            <!--<li><strong>Campo obrigatorio !</strong></li>-->
          {% endfor %}
      {% endif %}
  <p class="help-block text-danger"></p>
</div>
  </div>


    <br>
    <div id="sucess"></div>
    <div class="row">
      <div class="form-group col-xs-3">
        <input title="Salvar dados do Usuário! " type="submit" value="Cadastar" class="btn btn-default">
        </div>

      <div class="row">
        <div class="form-group col-xs-1">
          <button title="Limpar os dados acima!" type="reset" class="btn btn-default"> LIMPAR </butoon>
          </div>
        </div>

      </div>



  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning">
      <ul class=flashes>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}

</center></div>

</fieldset


{% endblock %}
