{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<fieldset class="fieldset-border">
<legend class="legend-border"><h4> Ajuda </h4></legend>
<div class="row control-group">
  <div class="form-group col-xs-10 floating-label-form-group controls" >
  <h4>  Menus :</P> </h4>
  <h4> 1 - Início: </h4></p>
  <ul>
  <li> Menu principal onde o usuário poderá ter acesso ao demais menus </li>
</ul>
  <h4> 2 - Cadastros: </h4></p></p>
  <ul>
  <li> Menu disponivel apenas para usuarios administradores do sistema</li>
  <li>Ao clicar no botão cadastro será direcionado para a tela de
    listagem de usuários onde irá aparecer todos o usuarios cadastrados</li>
  <li>Dentro da tela de listagem terá um botão de "Novo" para cadastrar
    novos usuários e o botão de "Voltar" que será direcionado para a tela principal</li>
  <li>Ao clicar em quaisquer parte do dados que aparece na tela de listagem,
    será direcionado para a tela de edição, onde será possível editar e excluir o cadastro do usuario selecionado </li>
  <li>Todos os dados editados ou excluidos não poderão mais serem recuperados</li>
  <li>Ao final de cada operação de inserção e alteração nos dados o sistema irá retornar uma mensagem de confimação</li>
</ul>
<ol>
  <li>* Os usuários padrões poderão alterar apenas os dados do seu usuário.
  </li>
</ol>
<h4> 3 - Situações: </h4></p></p>
<ul>
<li>Menu para inserir a situaçõe de cada disciplina de um determinado aluno</li>
<li>Deverá selecionar o aluno que deseja fazer a análise</li>
<li>Após selecionar no aluno, deverá selecionar a disciplina e depois a situação da mesma, é clicar no botão inserir</li>
<li>Para cada disciplina e sistuação selecionada deverá clicar no botão "Inserir"</li>
<li>Para finalizar as inserções e gerar as probabilidades deverá clicar no botão "Salvar"</li>
<li>Após clicar no botão Salvar irá aparecer uma mensagem de confirmarção.</li>

</ul>
<h4> 4 - Relatórios: </h4></p></p>
<ul>
<li>No menu relatorio é possivel saber as seguintes situações: </li>
<li>Alunos com análise salva</li>
<li>Alunos com risco de reprovação </li>
<li>Percentual por disciplinas </li>
<li>Relação das diciplinas do curso de TADS</li>
<li>Relação das disciplinas com a maior nivel de aprovação</li>
<li>Relação das disciplinas com a maior nivel de reprovação</li>
<li>Relação das disciplinas com maiores indice de desistência</li>
<li>Relação das situações por forma de ingresso</li>
<li>Relação das situações por cidades</li>
<li>Relação dos coeficiente de rendimento</li>

</ul>
<h4> 5 - Ajuda: </h4></p></p>
</div>
</div>
</div>
</fieldset>
</div>


{% endblock %}
