{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h3> Resultados das Analises </h3></legend>
  <form action="" method="post" class="form">
    <table class="table table-striped">
        {% for table in tables %}

        <tr >
          <th><h4>    {{titles[loop.index]}}  </h4></th></tr>
        <tr>  <td><h4>    {{ table|safe }} </h4> </td>
        </tr>

        {% endfor %}

    </table>
        <div class="form-group col-xs-1">
            <a href='{{ url_for('inserirSituacoes') }}'/><button title="Voltar Pagina Inicial!" class="btn btn-info btn-lg" type="button">Voltar</button></a>
        </div>
        <div class="form-group col-xs-2">
          <a href='{{ url_for('listagemAlunos') }}'/><button title="Salvar dados!" class="btn btn-info btn-lg" type="button">Salvar</button></a>
      </div>
</center></div>

</fieldset>


{% endblock %}
