{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Resultados das Analises </h4></legend>
  <form action="" method="post" class="form">


        <table class="table">
          <thead>
            <tr >
                <th>
                {% for table in tables %}
                  <h2>{{titles[loop.index]}}</h2></p>
                {{ table|safe }}</th>
              </tr>
              {% endfor %}
            </tbody>

</center></div>

</fieldset>


{% endblock %}
