{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Editar Usuários </h4></legend>
  <form action="cadastroUsuario" method="post" class="form">

  {{ cadastroform.csrf_token }}
<!-- DADOS PESSOAIS-->
  {% from "_macro.html" import render_field %}
  <div class="row control-group">
    <div class="form-group col-xs-3 floating-label-form-group controls" >

    </div>
  </div>


    <div class="row control-group">
      <div class="form-group col-xs-3 floating-label-form-group controls" >
          {%for usuario in usuario %}
              {{ usuario.id }}
            {{ render_field(cadastroform.nome ,class='form-control', placeholder='Nome *', title="Nome", maxlength="250", minlength="8", value="{{ usuario.id }}") }}

          {% if cadastroform.errors.nome %}
          <p class="help-block text-danger"></p>
             {% for e in cadastroform.errors.nome %}
                <strong>* Campo Obrigatório !</strong>
              {% endfor %}
            {% endif %}
        <p class="help-block text-danger"></p>
          {% endfor %}
      </div>


  </div>
</div>

  <!--Fim do codigo-->
</center></div>

</fieldset


{% endblock %}
