{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Usuários Cadastrados </h4></legend>
  {{ cadastroform.csrf_token }}
  <!-- DADOS PESSOAIS-->
  {% from "_macro.html" import render_field %}

      {%for usuario in usuario %}
      <form action="/atualizarUsuario/{{ usuario.id }}" method="POST">

          <div class="row control-group">
              <div class="form-group col-xs-1 floating-label-form-group controls" >
              <label><h4>Código :{{ usuario.id }}</h4></label>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-3 floating-label-form-group controls" >
                    <label><h4>Nome </h4></label>
                    <input required type="text" class="form-control" title="Nome" maxlength="250" minlength="8" placeholder="Nome *" name="nome" value="{{ usuario.nome }}" \>

                  <p class="help-block text-danger"></p>
                </div>
               <div class="form-group col-xs-3 floating-label-form-group controls" >
                  <label><h4>CPF </h4></label>
                    <input required type="text" class="form-control"  title="000.000.000-00" maxlength="14" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"  placeholder="Cpf *" pattern="[0-9]+$" OnKeyPress="formatar('###.###.###-##', this)" value="{{ usuario.cpf }}" name="cpf"\>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-3 floating-label-form-group controls">
                    <label><h4>E-mail </h4></label>
                    <input required type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail *" title="E-mail" name="email" value="{{ usuario.email }}">
                    <p class="help-block text-danger"></p>
          </div>
          <div class="form-group col-xs-3 floating-label-form-group controls">
                    <label><h4>Celular </h4></label>
                    <input required type="text" class='form-control' placeholder="Celular *" title="DDD+9+Número" maxlength="11" minlength="11" name="celular" pattern="[0-9]{2}[0-9]{4,6}[0-9]{3,4}" value="{{ usuario.celular}}">

        <p class="help-block text-danger"></p>
      </div>
    </div>
        <div class="row control-group">
          <div class="form-group col-xs-3 floating-label-form-group controls">
                  <label><h4>Nome de Usuário </h4></label>
                  <input required type="text"  class='form-control' placeholder="Nome de Usuário *" name="nomeUsuario" title="Nome de Usuário" value="{{ usuario.nomeUsuario }}">

      <p class="help-block text-danger"></p>
      </div>
      <div class="row control-group">
        <div class="form-group col-xs-3 floating-label-form-group controls">
          <label><h4>Tipo de Usuário</h4></label>
          <h4>Administrador</h4>
          {% if  usuario.tipo  == "admin"  %}
            <input required title="Usuário Administrador" name="tipo" type="radio" value="admin"  checked  ?>
            <h4>Padrão</h4>
              <input required title="Usuário Padrão" name="tipo" type="radio" value="padrao" ?>
            <p class="help-block text-danger"></p>
          {% endif %}
          {% if  usuario.tipo  == "padrao"  %}
            <input required title="Usuário Administrador" name="tipo" type="radio" value="admin" ?>
            <h4>Padrão</h4>
              <input required title="Usuário Padrão" name="tipo" type="radio" value="padrao"  checked  ?>
            <p class="help-block text-danger"></p>
          {% endif %}

    </div>
    </div>

  <div class="row control-group">
   <div class="form-group col-xs-3 floating-label-form-group controls">
             <label><h4>Senha</h4></label>
            <input required type="password" class="cadastroform.senha" placeholder="Senha *" title="Senha" maxlength="20" minlength="8" name="senha" value="{{ usuario.senha}}" >
            <p class="help-block text-danger"></p>
      </div>
      <div class="row control-group">
      <div class="form-group col-xs-3 floating-label-form-group controls">
          <label><h4>Repita a Senha</h4></label>
         <input  required type="password" class='cadastroform.confirm', placeholder="Repita a senha *", title="Repita a Senha" maxlength="20", minlength="8" name="confirm" value="{{ usuario.senha}}" >
         <p class="help-block text-danger"></p>
    </div>
    </div>
    </div>
    </div>
  <br />
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-2">
        <input title="Salvar dados do Usuário! " type="submit" value="Alterar" class="btn btn-info btn-lg"></a>
    </div>
    <div class="form-group col-xs-2">
        <inpunt role="presentation" class="active"><a href="#" data-toggle="modal" data-target="#myModal1" title="Excluir Usuário! " type="submit" value="Excluir" class="btn btn-info btn-lg">Excluir</a>
    </div>
    <div class="form-group col-xs-2">
        <inpunt role="presentation" class="active"><a href="#" data-toggle="modal" data-target="#myModal2" title="Voltar! " type="butoon" value="voltar" class="btn btn-info btn-lg">Voltar</a>
    </div>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
          <ul class=flashes>
            {% for message in messages %}
              <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}



      <!-- Confimar ser o usuario deseja EXCLUIRr-->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Atenção</h4>
        </div>
        <div class="modal-body">
          Deseja relamente excluir ?</p>
        Os dados não poderão ser reculperados!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Não </button>
          <a class="btn btn-primary" href="/excluirUsuario/{{ usuario.id }}" value="/excluirUsuario"> Sim </a>
        </div>
      </div>
      </div>
      </div>
      <!--Fim do codigo-->
      <!-- Confimar ser o usuario deseja sair sem salva-->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Atenção</h4>
        </div>
        <div class="modal-body">
          Certeza que deseja voltar?</p>
        Os dados não salvos serão perdidos!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Não </button>
          <a class="btn btn-primary" href="{{ url_for('listagemUsuario') }}" value="/excluirUsuario"> Sim </a>
        </div>
      </div>
      </div>
      </div>
      <!--Fim do codigo-->

  {% endfor %}
  </div>
  </form>
     </form>


</center></div>

</fieldset>
</div>
{% endblock %}
