{% extends 'base.html' %}

{% block content %}
<form action="/inserirSituacoes" method="post" class="form">
<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Pesquisar Alunos! </h4></legend>

  <div class="form-group input-group col-xs-7">
     <span class="input-group-addon">
         <i class="glyphicon glyphicon-search"></i>
     </span>
     <table id="tabela">
       <th width="20%"><input name="cpf" id="cpf" placeholder="Nome do Aluno" type="text" class="form-control"></th>
      </table>
  </div>

  <div class="form-group input-group col-xs-7" >
      *Digite o nome do aluno e click no botão Selecionar
  </div>



  <fieldset class="fieldset-border">
    <legend class="legend-border"><h3> Lista de Alunos </h3></legend>
    <table id="tabela" class="table table-striped" >
      <tr  style="color: black">
        <th width="30%"><h4> Nome </h4></th>
        <th width="20%"><h4> Curso </h4></th>
        <th width="20%"><h4> Selecionar</h4></th>
     </tr>
      {% for alunos in alunos %}
     <tr>
        <td>  {{ alunos.nome }}</td>
        <td>  {{ alunos.curso}}</td>
        <td> <a href='/inserirSituacoes/{{ alunos.id }}' style="color: black"/>
            <button title="Selecionar o Usuário! " value="Selecionar" type="button" class="btn btn-info btn-lg" aria-label="Left Align">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"> Selecionar</span>
            </button>
        </tr>
      {% endfor %}

 </table>

    </table>
  </fieldset>

  </div>
  </div>
  </div>
  <!--Fim do codigo-->
</center></div>

</fieldset>
  </form>
{% endblock %}
