{% extends 'base.html' %}
{% block title %} {{ title}} {% endblock %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h3> Cadastro de Usuários </h3></legend>
  <form action="Script_do_Formulario.php" method="post">
<!-- DADOS PESSOAIS-->
  {% from "_macro.html" import render_field %}

  <form name="cadastroUsuarios" id="cadastroFomulario" method=post>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
          {{ render_field(form.nome) }}
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
            {{ render_field(form.cpf) }}
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
          {{ render_field(form.email) }}
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
          {{ render_field(form.celular) }}
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
          {{ render_field(form.nomeUsuario) }}
        <p class="help-block text-danger"></p>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
          {{ render_field(form.senha) }}
        <p class="help-block text-danger"></p>
      </div>
    </div>

  </form>

</center></div>

</fieldset

{% endblock %}
