{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Relatórios das Disciplinas </h4></legend>
  <form action="" method="post" class="form">

<!--
 DADOS Disciplinas
  -->
  <table class="table"  >
    <thead>
      <tr >
          <th>
          {% for table in tables %}
            {{titles[loop.index]}}
          {{ table|safe }}</th>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    <div class="row">
      <div class="form-group col-xs-1">
      <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-info btn-lg" type="button">Voltar</button></a>
    </div>
  
      <div class="form-group col-xs-1">
      <button title="Imprimir Relatorios!" class="btn btn-info btn-lg" type="button" onclick="window.print();">Imprimir</button></a>

    </div>
      </div>

    </div>
  <!--Fim do codigo-->
</center></div>

</fieldset


{% endblock %}
