{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Disciplinas Com Mais Aprovações </h4></legend>
  <form action="/disciplinaAprovacao" method="post" class="form">

    <div style="float:left;">  <div class="form-group input-group col-xs-7">
         <span class="input-group-addon">
             <i class="glyphicon glyphicon-search"></i>
         </span>

         <table id="tabela">
           <th width="20%"><input name="cpf" id="cpf" placeholder="Nome do Aluno" type="text" class="form-control"></th>
          </table>

      </div></div>
	  <div style="float:left;"><div class="form-group input-group col-xs-7">


       <table class="table table-striped table-bordered table-condensed table-hover">
         <tr>
           <th width="10%">Período Inicial</th>
           <th width="10%">Período Final</th>
         </tr>
         <span class="input-group-addon">
             <i class="glyphicon glyphicon-calendar"></i>
         </span>
         <tr>
         <td width="10%"><input id="datei" type="date" class="form-control"></td>
         <td width="10%"><input id="datef" type="date" class="form-control"></td>
          <button name="button" type="submit">Click me</button>
       </tr>

      </table>

    </div></div>


    <div class="form-group input-group col-xs-7" >
        *Digite o nome da Disciplina
    </div>


    <table id="tabela" class="table table-striped table-bordered table-condensed table-hover" title="Alunos em Risco de Evasão!">
       <tr >
          <th width="40%" >Disciplinas</th>
          <th width="40%">Quantidades </th>
          <th width="40%">Data Cursada </th>
        </tr>



<!--
 DADOS Disciplinas
  -->

        {% for resul in resul %}
            <tr>
              <td>  {{ resul.disciplina}}</td>
              <td>  {{ resul.situacaoDisciplina}}</td>
              <td>  {{ resul.data.strftime('%d/%m/%Y')}}</td>
              </tr>
        {% endfor %}


    </table>
    <div class="row">
      <div class="form-group col-xs-1">
      <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-info btn-lg" type="button">Voltar</button></a>
    </div>
      <div class="form-group col-xs-1">
      <button title="Imprimir Relatorios!" class="btn btn-info btn-lg" type="button" onclick="window.print();">Imprimir</button></a>
    </div>
      </div>
    </div>
  <!--Fim do codigo-->
</center></div>

</fieldset>


{% endblock %}
