{% extends 'base.html' %}

{% block content%}

<div class="jumbotron"><center>
  <label><img src="{{ url_for('static', filename='img/logo.png') }}" alt="IFNMG" height="100px"></a></label>  <p>
  <label><h1><b>SASA</b></h1></label>
  <p class="lead">Sistema de Análise de Situações Acadêmicas</p>
  Acesso Rapido:<p>
  <p><a class="btn btn-lg btn-success" href="https://cajui.ifnmg.edu.br/cajui/login" role="button">Cajuí</a>
  <a class="btn btn-lg btn-success" href="https://www.ifnmg.edu.br/" role="button">IFNMG</a></p>
</center></div>
            
{% endblock %}
