  {% extends 'base.html' %}



{% block content%}



<div class="jumbotron"><center>

  <label><img src="{{ url_for('static', filename='img/logo.png') }}" alt="IFNMG" height="100px"></a></label>  <p>
  <!--  <label><h1><b>SASA</b></h1></label>--->
  <p class="lead"><h2>Sistema de Análise de Situações Acadêmicas</h2></p>
</br>
</br>
</br>
</br>
  <div class="form-group input-group col-xs-7">

      <legend class="scheduler-border" ><h3><b> Nossa História </b></h3></legend>

    <table class="table table-striped table-bordered table-condensed table-hover">
     <tr>
       <th >
         <center>
           <a href="nossahistoriaifnmg" class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-book" aria-hidden="true"> IFNMG Januária</span></a>
       </center>
       </th>
       <th >
         <center>
              <a href="nossahistoriatads" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-book" aria-hidden="true"> TADS Sobre O Curso</span></a>
         </center>
       </th>
       <th >
         <center>
           <a href="nossahistoriabsi" class="btn btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-book" aria-hidden="true"> BSI Sobre O Curso</span></a>
      </center>
       </th>
       <th >
         <center>
           <a href="leiame" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-book" aria-hidden="true"> Sobre Evasão </span></a>
      </center>
       </th>

  </table>

{% endblock %}
