{% extends 'base.html' %}

{% block content%}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class="jumbotron"><center>
  <fieldset class="fieldset-border">
    <legend class="legend-border"><h4> Inserção de Situações </h4></legend>
  <br/>
  <br/>
<form action="/sessao/" method="POST" >

<fieldset >
 <table class="table table-striped">
            </tr>
              <tr>
              <td><h4>
                    <label for="status"><h4>Disciplina :   </h4></label>
                  <h4>
                </td>
                    <td  ><h4>
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                      <select required  id ="disciplinaselect" name='disciplina' class="selectpicker form-control">
                          <option value="nenhum" disabled selected>Escolha a Disciplina</option>
                          {%for disciplina in disciplina  %}
                          <option value="{{ disciplina.id }}" >{{ disciplina.nome }}</option>
                          {% endfor %}

                   </select>
                    <h4></td>

           <tr>
                <td><h4>
                    <label for="status"><h4>Situação :   </h4></label>
                </td>
                <td align="left"><h4>
                    <select name="status"  onchange="chamar()" id="status" required class="selectpicker form-control">
                              <option value="nenhum" disabled selected>Escolha a Situação</option>
                              <option value="APROVADO">Aprovado</option>
                              <option value="REPROVADO">Repovado</option>
                              <option value="MATRICULADO">Matriculado</option>
                              <option value="CANCELADO">Desistente</option>
                    </select>
               </td>
  </tr>
 </table>
</fieldset>

<fieldset class="fieldset-border">
  <legend class="legend-border"><h3> Disciplinas Inseridas </h3></legend>
  <table class="table table-striped">
     {% for table in tables %}
     <tr >
       <th><h4>    {{titles[loop.index]}}  </h4></th></tr>
     <tr>  <td><h4>    {{ table|safe }} </h4> </td>
     </tr>
       {% endfor %}

  </table>
</fieldset>
<br />

<div class="form-group col-xs-4">
<a href='/analise/'><input class="btn btn-info btn-lg" type="button"  value="Finalizar" ></input></a>
</div>
<div class="form-group col-xs-1">
<button class="btn btn-info btn-lg" >Inserir</button>
</div>

</form>

</center></div>

{% endblock %}
