{% extends 'base.html' %}

{% block content%}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class="jumbotron"><center>
  <fieldset class="fieldset-border">
    <legend class="legend-border"><h4> Inserção de Situações </h4></legend>
  <br/>
  <br/>
<form action="/sessao/" method="POST" >

<fieldset >
 <table class="table table-striped">
            </tr>
              <tr>
              <td><h4>
                    <label for="status"><h4>Disciplina :   </h4></label>
                  <h4>
                </td>
                    <td  ><h4>
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                      <select required  id ="disciplinaselect" name='disciplina' class="selectpicker form-control">
                          <option value="nenhum" disabled selected>Escolha a Disciplina</option>
                          {%for disciplina in disciplina  %}
                          <option value="{{ disciplina.id }}  {{disciplina.nome}}" >{{ disciplina.nome }}</option>
                          {% endfor %}

                   </select>
                    <h4></td>

           <tr>
                <td><h4>
                    <label for="status"><h4>Situação :   </h4></label>
                </td>
                <td align="left"><h4>
                    <select name="status"  onchange="chamar()" id="status" required class="selectpicker form-control">
                              <option value="nenhum" disabled selected>Escolha a Situação</option>
                              <option value="APROVADO">Aprovado</option>
                              <option value="REPROVADO">Reprovado</option>
                              <option value="MATRICULADO">Matriculado</option>
                              <option value="CANCELADO">Desistente</option>
                    </select>
               </td>
  </tr>
 </table>
</fieldset>


<br />


<div class="form-group col-xs-4">
<button class="btn btn-warning btn-lg" ><i class="glyphicon glyphicon-plus"></i> Inserir</button>
</div>

</form>

</center></div>

{% endblock %}
