{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Usuários Cadastrados </h4></legend>
  <form action="/atualizarUsuario/{{ usuario.id }}" method="post">
<!-- DADOS PESSOAIS-->
  <table class="table">
    <thead>
      <tr class="info">
        <th>Cód Usuario</th>
        <th>Nome</th>
        <th>Celular</th>
        <th>E-mail</th>
      </tr>

    {%for usuario in usuario %}


      <tr class="success">

        <td>  <a href='/listagem/{{ usuario.id }}'/>{{ usuario.id }}</a></td>
        <td>  <a href='/listagem/{{ usuario.id }}'/>{{ usuario.nome }}</a></td>
        <td>  <a href='/listagem/{{ usuario.id }}'/>{{ usuario.celular }}</a></td>
        <td>  <a href='/listagem/{{ usuario.id }}'/>{{ usuario.email }}</a></td>

      </a>
        </tr>
        {% endfor %}

        

      </tbody>
  </table>

    </tr>
      </table>
  <br />
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-4">
      <a href='{{ url_for('cadastroUsuario') }}'/> <button title="Novo Usuário! " class="btn btn-primary" type="button">Novo</button> </a>
    </div>
    <div class="form-group col-xs-1">
    <a href='{{ url_for('index') }}'/><button title="Voltar Pagina Inicial!" class="btn btn-primary" type="button">Voltar</button></a>

      </div>
  </div>
  </form>
     </form>

</center></div>

</fieldset>
</div>
{% endblock %}
