{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
  <fieldset class="fieldset-border">
    <legend class="scheduler-border" ><h4> Alunos com Risco de Evasão Maior que 60% </h4></legend>
<!-- DADOS PESSOAIS-->
<form action="/excluirAlunos/" method="POST" >
  <div class="form-group input-group col-xs-7">
     <span class="input-group-addon">
         <i class="glyphicon glyphicon-search"></i>
     </span>
     <table id="tabela">
       <th width="20%"><input name="nome" id="nome" placeholder="Nome do Aluno" type="text" class="form-control"></th>
      </table>
  </div>

  <div class="form-group input-group col-xs-7" >
      *Digite o nome do aluno
  </div>
  <table id="tabela" class="table table-striped table-bordered table-condensed table-hover" title="Alunos em Risco de Evasão!">
     <tr >

        <th>Nome do Aluno</th>
        <th>Risco de Evasão (%)</th>
        <th>Excluir Aluno da Lista</th>
      </tr>


      {% for alunos in alunos %}

      <tr>

        <td>  {{ alunos.nome }}</td>
        <td>  {{ alunos.media}}</td>
        <td> <a href='/excluirAlunos/{{ alunos.id }}'  title="Excluir Alunos! " value="Excluir" class="btn btn-info btn-lg">Excluir</a></td>
      </tr>
      {% endfor %}


</tbody>
</table>
</form>
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-4">
    <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-info btn-lg" type="button">Voltar</button></a>
  </div>
  <div class="row">
    <div class="form-group col-xs-1">
    <a href='{{ url_for('pdfAlunosRiscos') }}'/><button title="Imprimir Relatorios!" class="btn btn-info btn-lg" type="button" >Imprimir</button></a>
    </div>
  </div>
  </form>
     </form>

</center></div>

</fieldset>
</div>
{% endblock %}
