{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
  <fieldset class="fieldset-border">
    <legend class="scheduler-border" ><h4> Alunos com Analise Salva </h4></legend>
<!-- DADOS PESSOAIS-->
<form action="/excluirAlunos/" method="POST" >
  <div class="form-group input-group col-xs-7">
     <span class="input-group-addon">
         <i class="glyphicon glyphicon-search"></i>
     </span>
     <table id="tabela">
       <th width="20%"><input name="cpf" id="cpf" placeholder="Nome do Aluno" type="text" class="form-control"></th>
      </table>
  </div>
  <div class="form-group input-group col-xs-7" >
      *Digite o nome do aluno
  </div>


  <table id="tabela" class="table table-striped table-bordered table-condensed table-hover" title="Alunos em Risco de Evasão!">
     <tr >
        <th>Nome do Aluno</th>
        <th>Risco de Evasão (%)</th>
        <th>Excluir Aluno da Lista</th>
      </tr>


      {% for alunos in alunos %}

      <tr>
        <td>  {{ alunos.nome }}</td>
        <td>  {{ alunos.media}}</td>
        <td> <div class="form-group col-xs-2">
                <a href="#" data-toggle="modal" data-target="#myModal1" title="Excluir Usuário! " type="button" value="Excluir" ><button class="btn btn-info btn-lg" role="presentation" class="active"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Excluir</span></button></a>
             </div>
        </td>
      </tr>
      {% endfor %}


</tbody>
</table>
</form>
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-3">
    <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-info btn-lg" type="button">Voltar</button></a>
  </div>
  <div class="row">
    <div class="form-group col-xs-1">
    <button title="Imprimir Relatorios!" class="btn btn-info btn-lg" type="button" onclick="window.print();">Imprimir</button></a>

  </div>
  </div>
  </form>
     </form>

</center></div>

<!-- Confimar ser o usuario deseja excluir-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Atenção</h4>
  </div>
  <div class="modal-body">
    Certeza que deseja voltar?</p>
  Os dados não salvos serão perdidos!
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-info btn-md" data-dismiss="modal"> Não </button>
    {% for alunos in alunos %}
    <a class="btn btn-info btn-md" href='/excluirAlunos/{{ alunos.id }}' value="/excluirAlunos"> Sim </a>
    {% endfor %}
  </div>
</div>
</div>
</div>
<!--Fim do codigo-->

</fieldset>
</div>
{% endblock %}
