{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
  <fieldset class="fieldset-border">
    <legend class="scheduler-border" ><h4> Alunos em Risco de Evasão </h4></legend>
<!-- DADOS PESSOAIS-->
<form action="/excluirAlunos/" method="POST" >
  <table class="table table-striped" title="Alunos em Risco de Evasão!">
     <tr >
        <th>Id Aluno</th>
        <th>Nome do Aluno</th>
        <th>Risco de Evasão (%)</th>
        <th>Excluir Aluno da Lista</th>
      </tr>

    {%for alunos in alunos %}

      <tr>
        <td>  {{ alunos.id }}</td>
        <td>  {{ alunos.nome }}</td>
        <td> <a href='/excluirAlunos/{{ alunos.id }}'  title="Excluir Alunos! " value="Excluir" class="btn btn-info btn-lg">Excluir</a></td>
      </tr>
      {% endfor %}
      {% for media in media %}
      <tr>
        <td>  {{ media }}</td>
      </tr>
      {% endfor %}

</tbody>
</table>
</form>
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-3">
    <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-info btn-lg" type="button">Voltar</button></a>
  </div>
  <div class="row">
    <div class="form-group col-xs-1">
    <button title="Imprimir Relatorios!" class="btn btn-info btn-lg" type="button" onclick="window.print();">Imprimir</button></a>

  </div>
  </div>
  </form>
     </form>

</center></div>

</fieldset>
</div>
{% endblock %}
