<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


    <title>Sistema de Analise de Situações Acadêmica</title>


    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body >
    <a href="https://www.ifnmg.edu.br/"><img src="{{ url_for('static', filename='img/ifnmg.png') }}" alt="IFNMG" height="120px" ></a>
    <a href="https://cajui.ifnmg.edu.br/cajui/login"><img src="{{ url_for('static', filename='img/cajui.png') }}" alt="CAJUÍ" height="100px" style='float:right'></a>
    <div class="login-box-body login-header text-center">

      <div class="login-box-body">
        <div class ="col-md-4 col-md-offset-4" >
          <div class="jumbotron"><center>
            <form action="" method="POST">
              {{ form.csrf_token }}
              <center>
                <label><img src="{{ url_for('static', filename='img/logo.png') }}" alt="IFNMG"” height="80px"></a></label>
                <img src="{{ url_for('static', filename='img/tads2.png') }}" alt="IFNMG" height="80px" ></p></p>
                  <br/>
                  <div class="login-box-body">
                    <p class="login-box-msg"><b>Análise de Situações Acadêmicas</b><br>
                  </p>
                    <p class="login-box-msg"><br>
                      <span><font color="red"></font></span>
                  </div>
                   </p>
              </center>
              </p>
              </p>

          <div class="form-group">
                  <p>
                    <div class="form-group has-feedback">
                      <div class="form-group field-loginform-username required">
                        {{ form.username(class="form-control",id="loginform-username",placeholder="Usuário" )}}
                        {% if form.errors.username %}
                        <div class="alert alert-darger" role="alert">
                          <ul>
                  {         {% for e in form.errors.username %}
                              <li><strong>Campo Usuário Não pode Ser Vazio !</strong></li>
                            {% endfor %}
                          </ul>
                        </div>
                        {% endif %}

                      </div>
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
          <div class="form-group has-feedback">
            <div class="form-group field-loginform-password required">
              {{ form.password(class="form-control",placeholder="Digite a Senha") }}
              {% if form.errors.password %}
              <div class="alert alert-darger" role="alert">
                <ul>
                  {% for e in form.errors.password %}
                    <li><strong>Campo Senha Não pode Ser Vazio !</strong></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
         </div>
      </div>
      <center>
          <button title="Entrar no Sistema" type="submit" class=" btn-lg btn btn-info btn-block btn-signin"> Entrar</button>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning">
        <ul class=flashes>
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>




      {% endif %}
    {% endwith %}
  </div>
</div>
</div>
</div>
</body>
</html>
