  {% extends 'base.html' %}



{% block content%}



<div class="jumbotron"><center>
<fieldset class="fieldset-border" >
  <legend class="scheduler-border" ><h4> Tecnologia em Análise e Desenvolvimento de Sistemas</h4></legend>

    <table class="table table-striped table-bordered table-condensed table-hover">
     <tr>
       <th >
         <center><h3>
           <p > O Instituto Federal - Campus Janu&aacute;ria, figura entre os sete campi do Instituto Federal do Norte de Minas Gerais,
           <p >este originado pela integra&ccedil;&atilde;o antigo Cefet Janu&aacute;ria com a at&eacute; ent&atilde;o, EAF Salinas, ambas as Escolas de origem Agr&iacute;cola e voca&ccedil;&atilde;o profissional.</p>
           <p >O IFNMG Campus Janu&aacute;ria foi fundado em dezembro de 1960, quando o munic&iacute;pio de Janu&aacute;ria, no ano do seu Centen&aacute;rio,
           <p >   fora merecidamente presenteado com uma Institui&ccedil;&atilde;o idealizada pelo ilustre Cel. Manoel Jos&eacute; de Almeida,
           <p >humanista que tinha como prop&oacute;sito inicial, acolher o menor carente, ou abandonado pelos pais, ou a pr&oacute;pria sorte,
           <p > um grande legado do seu criador, para a regi&atilde;o norte-mineira.</p>
           <p >Ao longo de uma trajet&oacute;ria de 50 anos de hist&oacute;ria, o IFNMG-Campus Janu&aacute;ria tem contribu&iacute;do significativamente
           <p >para o crescimento da regi&atilde;o em que est&aacute; inserido, com ensino profissional de excel&ecirc;ncia.</p>
           <p >Mediante mudan&ccedil;as de ordem legal, o Campus Janu&aacute;ria, alcan&ccedil;ando meio s&eacute;culo de hist&oacute;ria, passou por v&aacute;rias altera&ccedil;&otilde;es de nomenclaturas,
           <p >denominado incialmente como Escola Agr&iacute;cola de Janu&aacute;ria, Col&eacute;gio Agr&iacute;cola de Janu&aacute;ria, Escola Agrot&eacute;cnica Federal de Janu&aacute;ria,
           <p > e posteriormente, Centro Federal de Educa&ccedil;&atilde;o Profissional e Tecnol&oacute;gica - Cefet Janu&aacute;ria, assim subscrito at&eacute; o advento da lei 11.892
            <p > que criou os Institutos Federais de Educa&ccedil;&atilde;o, Ci&ecirc;ncia e Tecnologia.</p>
            </h3>
         </center>
       </th>
  </table>
</fieldset>
{% endblock %}
