{% extends 'base.html' %}

{% block content %}
<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4>Total por Situações </h4></legend>
    <table id="tabela" class="table table-striped table-bordered table-condensed table-hover" title="Alunos em Risco de Evasão!">
       <tr >
          <td width="40%">Situação </td>
          <th width="40%">Total </th>
        </tr>
<!--
 DADOS Disciplinas
  -->
             {% for resultado in resultado %}
             <tr>
                  <td>  {{ resultado[0]}} </td>
                  <td>  {{ resultado[1]}}</td>
             </tr>
            {% endfor %}
    </table>
    <div class="row">
      <div class="form-group col-xs-4">
      <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-warning btn-lg" type="button">Voltar</button></a>
    </div>
      <div class="form-group col-xs-1">
      <a href='{{ url_for('pdfsituacoes') }}'/><button title="Imprimir Relatorios!" class="btn btn-warning btn-lg" type="button" >Imprimir</button></a>
    </div>
      </div>
    </div>
  <!--Fim do codigo-->
</center></div>

</fieldset>




{% endblock %}
