{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
<fieldset class="fieldset-border">
  <legend class="scheduler-border" ><h4> Relação dos Usuários Cadastrados </h4></legend>
  <form action="" method="post">
<!-- DADOS PESSOAIS-->
  <table class="table" title="Usuários cadastrados!" border="1">
    <thead>
      <tr class="table table-dark">
        <th>Código</th>
        <th>Nome</th>
        <th>Usuário</th>
        <th>E-mail</th>
        <th>Celular</th>
        <th>Permissões</th>
      </tr>

    {%for usuario in usuario %}


      <tr class="table table-dark">

        <td>  {{ usuario.id }}</td>
        <td>  {{ usuario.nome }}</td>
        <td>  {{ usuario.nomeUsuario }}</td>
        <td>  {{ usuario.email }}</td>
        <td>  {{ usuario.celular }}</td>
        <td>  {{ usuario.tipo }}</td>



      </a>
        </tr>
        {% endfor %}



      </tbody>
  </table>

    </tr>
      </table>
  <br />
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-1">
    <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-primary" type="button">Voltar</button></a>
  </div>
  </div>
  </form>
     </form>

</center></div>

</fieldset>
</div>
{% endblock %}
