{% extends 'base.html' %}

{% block content%}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
<table class="table table-striped">
<colgroup span="5"></colgroup>
<legend class="legend-border"><h4> Relatórios </h4></legend>
<tr>
  <td>
    <fieldset class="fieldset-border">
      <legend class="legend-border"><h4>Alunos com Análises Salvas</h4></legend>
      <center><a href="{{ url_for('alunosAnalise') }}"><img src="{{ url_for('static', filename='img/users_cad.png') }}" alt="IFNMG"”/ height="60px"  ></a>
      </fieldset>
  </td>
  <td>
    <fieldset class="fieldset-border">
      <legend class="legend-border"><h4>Alunos em Risco</h4></legend>
      <center><a href="{{ url_for('alunosRisco') }}"><img src="{{ url_for('static', filename='img/alunosRisk.png') }}" alt="IFNMG"”/ height="60px"  ></a>
      </fieldset>
  </td>
  <td>
    <fieldset class="fieldset-border">
      <legend class="legend-border"><h4>Percentual(%) Por Disciplinas</h4></legend>
      <center><a href="{{ url_for('percentualdisci1') }}"><img src="{{ url_for('static', filename='img/percentage_77945.png') }}" alt="IFNMG"”/ height="60px"  ></a>
      </fieldset>
  </td>
</tr>
<tr><!--
  <td>
    <fieldset class="fieldset-border">
      <legend class="legend-border"><h4>Usuários Cadastrados</h4></legend>
      <center><a href="{{ url_for('usuariosCadastrados') }}"><img src="{{ url_for('static', filename='img/alunos.png') }}" alt="IFNMG"”/ height="60px"  ></a>
      </fieldset>
  </td>-->
  <td>
        <fieldset class="fieldset-border">
          <legend class="legend-border"><h4>Disciplinas do Curso</h4></legend>
          <center><a href="{{ url_for('disciplinasTads') }}"><img src="{{ url_for('static', filename='img/disciplinas.png') }}" alt="IFNMG"”/ height="60px" ></a>
          </fieldset>
  </td>
  <td>
      <fieldset class="fieldset-border">
        <legend class="legend-border"><h4>Disciplinas com Maiores Aprovações</h4></legend>
        <center><a href="{{ url_for('disciplinaAprovacao') }}"><img src="{{ url_for('static', filename='img/aprovacao.png') }}" alt="IFNMG"”/ height="60px" ></a>
      </fieldset>
  </td>
  <td>
        <fieldset class="fieldset-border">
          <legend class="legend-border"><h4>Disciplinas com Maiores Reprovações</h4></legend>
          <center><a href="{{ url_for('disciplina') }}"><img src="{{ url_for('static', filename='img/reprovacao.png') }}" alt="IFNMG"”/ height="60px" ></a>
        </fieldset>
  </td>
  <td>
          <fieldset class="fieldset-border">
            <legend class="legend-border"><h4>Disciplinas com Maiores Disistências</h4></legend>
            <center><a href="{{ url_for('disciplinaDesistencia') }}"><img src="{{ url_for('static', filename='img/desistencia.ico') }}" alt="IFNMG"”/ height="60px" ></a>
          </fieldset>
  </td>
</tr>
<tr>
  <td>
      <fieldset class="fieldset-border">
        <legend class="legend-border"><h4>Relatório por Situações</h4></legend>
        <center><a href="{{ url_for('porsituacoes') }}"><img src="{{ url_for('static', filename='img/situacoes.png') }}" alt="IFNMG"”/ height="60px" ></a>
      </fieldset>
  </td>
  <td>
      <fieldset class="fieldset-border">
        <legend class="legend-border"><h4>Situações por Forma de Ingresso</h4></legend>
        <center><a href="{{ url_for('formasIngresso') }}"><img src="{{ url_for('static', filename='img/ingresso.png') }}" alt="IFNMG"”/ height="60px" ></a>
      </fieldset>
  </td>
  <td>
        <fieldset class="fieldset-border">
          <legend class="legend-border"><h4>Situações por Cidades</h4></legend>
          <center><a href="{{ url_for('ingressoCidade') }}"><img src="{{ url_for('static', filename='img/cidade.png') }}" alt="IFNMG"”/ height="60px" ></a>
        </fieldset>
  </td>
  <td>
        <fieldset class="fieldset-border">
          <legend class="legend-border"><h4>Coeficiente de Rendimento</h4></legend>
          <center><a href="{{ url_for('rendimento') }}"><img src="{{ url_for('static', filename='img/redimento.png') }}" alt="IFNMG"”/ height="60px" ></a>
        </fieldset>
  </td>

<!--
  <td>
          <fieldset class="fieldset-border">
            <legend class="legend-border"><h4>Média de Matriculas por Disciplinas</h4></legend>
            <center><a href="{{ url_for('mediaMatricula') }}"><img src="{{ url_for('static', filename='img/mediaMatricula.png') }}" alt="IFNMG"”/ height="60px" ></a>
          </fieldset>
  </td>-->

</tr>
</table>
</legend>
</fieldset>
</div>
</center></div>







{% endblock %}
