{% extends 'base.html' %}

{% block content%}
<div class="jumbotron">
<center>
<fieldset class="fieldset-border">
  <legend class="scheduler-border" ><h4> Relação dos Usuários Cadastrados </h4></legend>
  <form action="" method="post">
<!-- DADOS PESSOAIS-->
  <table class="table table-striped" title="Usuários cadastrados!">

      <tr>
        <th width="11%"><h4> Id Usuário </h4></th>
        <th width="30%"><h4> Nome </h4></th>
        <th width="20%"><h4> Celular </h4></th>
        <th width="20%"><h4> E-mail </h4></th>
      </tr>

    {%for usuario in usuario %}


      <tr>
        <td>  {{ usuario.id }}</td>
        <td>  {{ usuario.nome }}</td>
        <td>  {{ usuario.email }}</td>
        <td>  {{ usuario.celular }}</td>
        </a>
      </tr>
        {% endfor %}



      </tbody>
  </table>

    </tr>
      </table>
  <br />
    <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-1">
    <a href='{{ url_for('relatorios') }}'/><button title="Voltar Pagina Relatorios!" class="btn btn-warning btn-lg" type="button">Voltar</button></a>
  </div>
  </div>
  </form>
     </form>

</center></div>

</fieldset>
</div>
{% endblock %}
