{% extends 'base.html' %}

{% block content %}

<div class="jumbotron"><center>
<fieldset class="fieldset-border">
  <legend class="legend-border"><h4> Salvar Analise </h4></legend>
  <form action="/listagemAlunos" method="post" class="form">

  {{ alunosform.csrf_token }}
<!-- DADOS PESSOAIS-->
  {% from "_macro.html" import render_field %}
  <div class="row control-group">
    <div class="form-group col-xs-4 floating-label-form-group controls" >

    </div>
  </div>
    <div class="row control-group">
        <div class="row control-group">

        <div class="form-group col-xs-3 floating-label-form-group controls">
        <label><h4>CPF do Aluno: </h4></label>
        {{ render_field(alunosform.cpf ,class='form-control', placeholder='CPF *', title="CPF", maxlength="11", minlength="11") }}
          {% if alunosform.errors.cpf %}
          <p class="help-block text-danger"></p>
                  {% for e in alunosform.errors.cpf %}
                    <strong>* Campo Obrigatório ! </strong>
                  {% endfor %}
              {% endif %}
              <p class="help-block text-danger"></p>
      </div>




  </div>

  <div id="sucess"></div>
  <div class="row">
    <div class="form-group col-xs-2">
      <input title="Salvar dados do Usuário! " type="submit" value="Salvar" class="btn btn-info btn-lg">
      </div>
    <div class="form-group col-xs-1">
       <inpunt role="presentation" class="active"><a href="#" data-toggle="modal" data-target="#myModal1" title="Analise de dados! " type="submit" value="Voltar" class="btn btn-info btn-lg">Voltar</a>
    </div>
  </div>

  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning">
      <ul class=flashes>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}
  <!-- Confimar ser o usuario deseja sair sem salvar-->
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Atenção</h4>
    </div>
    <div class="modal-body">
      Certeza que deseja voltar?</p>
    Os dados não salvos serão perdidos!
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-md" data-dismiss="modal"> Não </button>
      <a class="btn btn-info btn-md" href="{{ url_for('inserirSituacoes') }}" value=" /listagemUsuario "> Sim </a>
    </div>
  </div>
  </div>
  </div>
  <!--Fim do codigo-->
</center></div>

</fieldset

{% endblock %}
