<html>
<head>
<script type="text/javascript" language="javascript">
function showtxt() {
var n = document.forms.myform.mylist.value;
switch (n) {
case 1:
<tr>
   <td>
      <label for="disciplina">Disciplina : -</label>
   </td>
   <td align="left">
        <select name="disciplina">
          <option value="">-----</option>
          <option value="algoritmo">Algoritmo</option>
          <option value="logicaMatematica">Lógica Matematica</option>
          <option value="matematicaComputacional">Matemática Computacional</option>
          <option value="linguaPortuguesa">Língua Portuguesa</option>
          <option value="fundamentosdaComputacao">Fundamentos da Computação</option>
          <option value="inglesTecnico">Inglês Técnico</option>
          <option value="teoriaGeraldaAdministracao">Teoria Geral da Administração</option>
        </select>
   </td>
  </tr>break
case 2:
document.getElementById('SizeName').innerHTML = '<b>Medium</b>';
break
case 3:
document.getElementById('SizeName').innerHTML = '<b>Large</b>';
break
default:
document.getElementById('SizeName').innerHTML = '<b>No Size</b>';
}

// uncomment next line to debug
// document.write('Var was:' + n);

}

</script>
</head>
<body>
<!-- Key for sizes: 1=Small 2=Medium 3=Large -->
<form id="myform">
<select name="mylist" size="3">
<option value="1">Miniature Thing</option>
<option value="3">Very Big Thing</option>
<option value="2">Average Thing</option>
<option value="">Other Thing</option>
<option value="1">Little Thing</option>
<option value="3">Huge Thing</option>
<option value="">Other Thing</option>
<option value="2">Medium Size Thing</option>
</select>
<br>
<input type="button" onclick="showtxt()" value="Get Package Size">
</form>
</div>

<div style="width:200px; border:1px solid black; padding: 10px" >
<table>
<tr>
<td><b>Size:</b></td><td id="SizeName"></td>
</table>
</div>

</body>
</html>
